@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: AudioWide,  sans-serif;
    background: whitesmoke ;

}
h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 5px;
}

.loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.8);
}
.loader img{
    position: fixed;
    /* Position at nominal vert/horiz halfway point */
    top: 50%;
    left: 50%;
    /* Position sets top-left of image, so translate halfway up/left the IMAGE, i.e. transform is working on the image co-ords */
    transform: translate(-50%, -50%); 
}

.image-container{
     margin: 10px 30%;
}

.image-container img{
    width: 100%;
    margin-top: 5px;
}

@media screen and (max-width: 600px){
    h1{
        font-size: 20px;
    }
    .image-container{
        margin: 10px;
    }
}